<div id="about" class="container rounded-3 shadow">
    <button type="button" class="back btn btn-primary btn-lg" onclick="mainPage()" back=''> <i class="bi bi-caret-left-fill"></i> back</button>
   <br>
    <h1>ABOUT US</h1>
<p>Here at The Gaming Zone, we specialise in providing you with the best digital codes for the hottest games. There’s no need to pay full price or wait for a game again.</p>
<p>We combine the lowest prices with rapid digital delivery, so you can start playing your favourite games, fast.</p>
<p>TGZ has over 20 years of combined industry experience. We’ve taken our passion for games and created a truly innovative service that puts gamers first!</p>
<br><br>
</div>