<div class="footer mt-auto mx-auto py-5 bg-dark col-xs-3">
    <div class="container-fluid">
        <div class="row header-footer">
            <div class="column logo-bottom">
                <a class="navbar-brand" href="/"><img src="images/logo-full.PNG"  width="130" height="100" alt="TGZ"></a>
            </div>
            <div class="column copyright"><span>&copy</span>2022 The Gaming Zone, Inc.</div>
        </div>
        <div class="row text-muted">
            <div class="column  logo-bottom"></div>
            <div class="column header-footer"><h5>HELP</h5></div>
            <div class="column header-footer"><h5>SOCIAL</h5></div>
        </div>
        <div class="row text-muted">
            <div class="column  logo-bottom"></div>
            <div class="column footer-extra"><a href="" onclick="termsConditions()">Terms & Conditions</a></div>
            <div class="column"><i class="bi bi-linkedin"> <a href="https://www.linkedin.com/in/the-gaming-zone-296321239/">Linkedin</a> </i></div>
        </div>
        <div class="row text-muted">
            <div class="column  logo-bottom"></div>
            <div class="column footer-extra"><a href="" onclick="privacyCookies()">Privacy & Cookies</a></div>
            <div class="column"><i class="bi bi-twitter"> <a href="https://twitter.com/TGZ2022">Twitter</a></i></div>
        </div>
    </div>
</div>

<script>
    $(".footer").stop(true,true).delay(1000).fadeIn(500);
</script>