<div id="gameQuery">
    <button type="button" class="back btn btn-primary btn-lg" onclick="mainPage()" back=''> <i class="bi bi-caret-left-fill"></i> back</button>
    <h3 id="resultsNumber"></h3>
    <div id="displayQuery">
        <!--first row -->
        <div class="row">

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery1" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery1" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery1" class="card-title">Card title</p>
                    <p id="idQuery1" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery2" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery2" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery2" class="card-title">Card title</p>
                    <p id="idQuery2" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery3" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery3" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery3" class="card-title">Card title</p>
                    <p id="idQuery3" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery4" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery4" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery4" class="card-title">Card title</p>
                    <p id="idQuery4" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery5" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery5" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery5" class="card-title">Card title</p>
                    <p id="idQuery5" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery6" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery6" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery6" class="card-title">Card title</p>
                    <p id="idQuery6" class="card-title"></p>
                </div>
            </div>

        </div>
        <!-- second row -->
        <div class="row">

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery7" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery7" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery7" class="card-title">Card title</p>
                    <p id="idQuery7" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery8" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery8" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery8" class="card-title">Card title</p>
                    <p id="idQuery8" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery9" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery9" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery9" class="card-title">Card title</p>
                    <p id="idQuery9" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery10" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery10" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery10" class="card-title">Card title</p>
                    <p id="idQuery10" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery11" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery11" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery11" class="card-title">Card title</p>
                    <p id="idQuery11" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery12" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery12" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery12" class="card-title">Card title</p>
                    <p id="idQuery12" class="card-title"></p>
                </div>
            </div>

        </div>
        <!-- third row -->
        <div class="row">

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery13" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery13" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery13" class="card-title">Card title</p>
                    <p id="idQuery13" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery14" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery14" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery14" class="card-title">Card title</p>
                    <p id="idQuery14" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery15" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery15" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery15" class="card-title">Card title</p>
                    <p id="idQuery15" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery16" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery16" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery16" class="card-title">Card title</p>
                    <p id="idQuery16" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery17" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery17" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery17" class="card-title">Card title</p>
                    <p id="idQuery17" class="card-title"></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div id="cardQuery18" data-ng-click="selectGame($event)" class="card mb-2">
                    <a href="" onclick="displayInformation()">
                        <img id="imgQuery18" class="card-img-top" src=""
                             alt="Card image cap">
                    </a>
                    <p id="titleQuery18" class="card-title">Card title</p>
                    <p id="idQuery18" class="card-title"></p>
                </div>
            </div>

        </div>

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href=""  onclick="displayQuery('prev')">Previous</a></li>
            <li id="pg1" class="page-item active"><a class="page-link" href="" onclick="displayQuery(0)">1</a></li>
            <li id="pg2" class="page-item"><a class="page-link" href="" onclick="displayQuery(1)">2</a></li>
            <li id="pg3" class="page-item"><a class="page-link" href="" onclick="displayQuery(2)">3</a></li>
            <li id="pg4" class="page-item"><a class="page-link" href="" onclick="displayQuery(3)">4</a></li>
            <li id="pg5" class="page-item"><a class="page-link" href="" onclick="displayQuery(4)">5</a></li>
            <li class="page-item"><a class="page-link" href=""  onclick="displayQuery('next')">Next</a></li>
        </ul>

    </div>
</div>
<script>
    $("[id*='cardQuery']").mouseenter(function(){
        $(this).animate({
            borderWidth:  '10px'
        }, 200);
    }).mouseleave(function(){
        $(this).css("borderColor", "white").animate({
            borderWidth:  '1px'
        }, 200);
    });
    $("#demo").fadeIn(1000);
</script>