<section ng-include="'html/template/banner_cookies.html'"></section>
<header ng-include="'html/template/header.html'"></header>
<main class="flex-shrink-0">
    <section ng-include="'html/template/carousels.html'"></section>
    <section ng-include="'html/template/game_query.html'"></section>
    <section ng-include="'html/template/game_information.html'"></section>
    <section ng-include="'html/template/manage_account.html'"></section>
    <section ng-include="'html/template/cart.html'"></section>
    <section ng-include="'html/template/manage_balance.html'"></section>
    <section ng-include="'html/template/manage_games.html'"></section>
    <section ng-include="'html/template/support.html'"></section>
    <section ng-include="'html/template/privacy_policy.html'"></section>
    <section ng-include="'html/template/terms_and_conditions.html'"></section>
    <section ng-include="'html/template/about.html'"></section>

</main>
<footer ng-include="'html/template/footer.html'"></footer>

<script src="/js/start.js"></script>