<div id="manage_balance" class="container rounded-3 shadow">
<button type="button" class="back btn btn-primary btn-lg" onclick="mainPage()" back=''> <i class="bi bi-caret-left-fill"></i> back</button>
   <div class="text-center">
    <div class="container mt-3">
        <h2>Your Balance is</h2>
        <h3 id="balance"></h3>
    </div>
<button type="button" onclick="withdraw()" class="btn btn-success btn-lg">Withdraw</button>
    <button type="button" onclick="refreshBalance()" class="btn btn-success btn-lg">Refresh</button>
    <br><br><br>
   </div>
</div>